:root {
    --primary-color: #0695e2;
    --secondary-color: rgba(7, 7, 71, 0.815);
    --tertiary-color: black;
    --quanternary--color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;
    background-image: url(/assets/Images/COLOURlovers.com-Grey_Background.jpg);
}

header {
    padding: 75px 35px 75px 35px; 
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url("/assets/Images/background-image-header.png");
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    display: inline;
    /* color: var(--primary-color); */
}

header a {
    color: var(--primary-color);
    text-decoration: none;
}

header nav {
    float: right;
    margin: 7px 0px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}



footer {
    padding: 20px 30px;
    background-color: var(--secondary-color);
}

footer h2 {
    font-weight: bold;
    font-size: 25px;
    margin: 0 0 0 15px;
    text-align: center;
    padding-bottom: 25px;
    /* color: var(--primary-color); */
}

footer a {
    color: var(--primary-color);
    text-decoration: none;
}

footer nav {
    float: right;
    margin: 7px 0px;
}

footer nav ul li {
    display: inline;
}

footer nav ul li a {
    margin: -20px 30px 25px 0 ;
    margin-bottom: 15px;
    font-weight: lighter;
    font-size: 22px;
    float: right;
}

.about-me h2 {
    border: 1px var(--primary-color) solid;
    background-color: var(--secondary-color);
    padding: 15px;
    margin: 15px;
    text-align: center;
    flex-wrap: wrap;
}

.profile-image {
    display: flexbox;
    padding: 15px 0;
    border-radius: 7%;
    margin: 0px 15px 0px 15px;
    max-height: 750px;
}

.profile-image-2 {
    display: flexbox;
    padding: 30px 0 0 0;
    border-radius: 7%;
    margin: 15px 15px 0 15px;
    max-height: 750px;
}

.profile-image-3 {
    display: flexbox;
    padding: 15px 0;
    border-radius: 7%;
    margin: 0px 15px 0px 15px;
    max-height: 750px;
}

.about-me-message p {
    border-radius: 15px;
    padding: 10px 10px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-size: 25px;
    margin: auto 15px;
}

.résumé {
    text-decoration: none;
}

.my-work h2 {
    border: 1px var(--primary-color) solid;
    background-color: var(--secondary-color);
    padding: 15px;
    margin: 15px;
    text-align: center;
    flex-wrap: wrap;
}

.layer {
    background-color: grey;
    opacity: 50%;
    z-index: 999;
}

.run-buddy img {
    display: block;
    margin: 25px auto;
    width: 60%;
    z-index: 1;
}

.layer .run-buddy:hover {
    opacity: 0%;
}

.coming-soon img {
    display: block;
    display: flexbox;
    flex-wrap: wrap;
    margin: 25px auto;
    max-width: 500px;
}

.layer .coming-soon:hover {
    opacity: 0%;
}