:root {
    --primary-color: #0695e2;
    --secondary-color: rgba(7, 7, 71, 0.815);
    --tertiary-color: black;
    --quanternary--color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;
    background-image: url(/assets/Images/COLOURlovers.com-Grey_Background.jpg);
}

header {
    padding: 75px 35px 75px 35px; 
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url("/assets/Images/background-image-header.png");
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    display: inline;
    /* color: var(--primary-color); */
}

header a {
    color: var(--primary-color);
    text-decoration: none;
}

header nav {
    float: right;
    margin: 7px 0px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

.about-me {
    text-align: center;
}

.about-me h2 {
    font-size: 55px;
    border-radius: 5%;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    margin: 35px;
    padding: 0 100px 20px 100px;
    display: inline-block;
}



.about-me p {
    line-height: 1.7;
    color: var(--primary-color);
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
}



.about-me-message p {
    font-weight: 700;
    font-size: medium;
}
.about-me-message img {
    display: flex;
    padding: 15px 0;
    border-radius: 7%;
}
.about-me-message {
    display: flex;
    padding: 30px 30px;
}



















footer {
    padding: 20px 30px;
    background-color: var(--secondary-color);
}

footer h2 {
    font-weight: bold;
    font-size: 25px;
    margin: 0;
    display: inline;
    /* color: var(--primary-color); */
}

footer a {
    color: var(--primary-color);
    text-decoration: none;
}

footer nav {
    float: right;
    margin: 7px 0px;
}

footer nav ul li {
    display: inline;
}

footer nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
    float: right;
}