:root {
    --primary-color: #0695e2;
    --secondary-color: rgba(7, 7, 71, 0.815);
    --tertiary-color: black;
    --quanternary--color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;
}

header {
    padding: 20px 30px;
    background-color: var(--secondary-color);
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    display: inline;
    /* color: var(--primary-color); */
}

header a {
    color: var(--primary-color);
    text-decoration: none;
}

header nav {
    float: right;
    margin: 7px 0px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

footer {
    padding: 20px 30px;
    background-color: var(--secondary-color);
}

footer h2 {
    font-weight: bold;
    font-size: 25px;
    margin: 0;
    display: inline;
    /* color: var(--primary-color); */
}

footer a {
    color: var(--primary-color);
    text-decoration: none;
}

footer nav {
    float: right;
    margin: 7px 0px;
}

footer nav ul li {
    display: inline;
}

footer nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
    float: right;
}